// Nothing here. Just use the default theme.

$mdc-button-height: 36px !default;
$mdc-button-horizontal-padding: 8px !default;
$mdc-button-contained-horizontal-padding: 16px !default;
$mdc-dense-button-height: 32px !default;
$mdc-button-outlined-border-width: 1px !default;
